@keyframes cloud0 {
    from {
        opacity: 1;
        left: 50%;
        top:  15%;
    }
    to {
        opacity: 0;
        left: 40%;
        top: 10%;
    }
}

@keyframes cloud1 {
    from {
        opacity: 1;
        left: 50%;
        top:  15%;
    }
    to {
        opacity: 0;
        left: 54%;
        top: 17%;
    }
}

@keyframes cloud2 {
    from {
        opacity: 1;
        left: 50%;
        top:  15%;
    }
    to {
        opacity: 0;
        left: 56%;
        top: 14%;
    }
}

@keyframes cloud3 {
    from {
        opacity: 1;
        left: 50%;
        top:  15%;
    }
    to {
        opacity: 0;
        left: 48%;
        top: 19%;
    }
}

@keyframes cloud4 {
    from {
        opacity: 1;
        left: 50%;
        top:  15%;
    }
    to {
        opacity: 0;
        left: 48%;
        top: 4%;
    }
}
